<html>
    <head>
        <%- include partials/head.ejs %>
    </head>
    <body>
        <h1><%= site.title %></h1>
        <h1><%= testObj.testProp %></h1>
        <h1><%= author %></h1>
        <h1><%= development %></h1>
        <script src="http://localhost:35729/livereload.js" />
        <%- include partials/scripts.ejs %>
     </body>
</html>